
*{
    margin: 0;
    padding: 0;
}
body{
    background-color: #0e0e57;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    padding: 10px;
    margin-top: 50px;
    display: flex;
    height: 350px;
    width: 550px;
    background-color: white;
    border-radius: 10px;
    box-sizing: border-box;
}
.card{
    width: 50%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 10px;
    padding: 0px 10px 0px 20px;
}
.image{
    position: relative;
    width: 50%;
    box-sizing: border-box;
    border-radius: 8px;
}
.image img{
    position: absolute;
    left: 20px;
    height: 100%;
    width: 100%;
}
.icon{
    display: flex;
}
.icon img{
    padding-right: 10px;
    height: 15px;
    width: 15px;
}
label{
    margin-top: 5px;
    font-weight: 700;
    font-size: 9px;
}
input{
    margin-top: -3px;
    padding:8.5px;
    border-radius: 5px;
    border: 1px solid gray;
}
#btn{
    margin-top: 5px;
    padding: 10px;
    font-weight: 700;
    color: white;
    background-color: #0e0e57;
    border-radius: 5px;
}
h1{
    font-weight: bolder;
    font-family: sans-serif;
}
.card p{
    font-size: 14px;
}
#dissmiss{
    margin-top: 5px;
    padding: 10px;
    font-weight: 700;
    color: white;
    background-color: #0e0e57;
    border-radius: 5px;
}
.successbutton{
    /* height: 150px;
    width: 150px; */
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    background-color: white;
    justify-content: center;
    /* align-items: center; */
    gap: 10px;
    padding: 20px;
    width: 250px;
}
.successbutton img{
    height: 20px;
    width: 20px;
}
.successbutton p{
    font-size: 11px;
}
.successbutton{
    visibility: hidden;
}
.change{
     color: red;
    border: 2px solid red;

}
#btn a{
    text-decoration: none;
    color: white;
}
@media only screen and (max-width:455px) {
 body{
     display: block;
 }
    .container{
        padding: 0px;
        position: relative;
        margin-top: 0px;
        display: flex;
        width: 100vw;
        gap: 30px;
        justify-content: center;
        flex-direction: column-reverse;
        height: 700px;
    }
    .card{
        margin-top: 30px;
        width: 90vw;
    }
    .image img{
        visibility: hidden;
    }
    .image {
        top: 0;
        position: absolute;
        height: 200px;
        width: 100vw;
        background-image: url("assets/images/illustration-sign-up-mobile.svg");
        background-position: center center;
        background-size: cover;
    };  
}